/* GENERAL */
body{
    color: #fff;
    background-color: #2c3e50;
}
h2{
    text-transform: uppercase;
}
/* UTILITIES */
.box-fake{
    background-color: #ccc;
}
/* Layout */
.pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
/* Color */
.bg-color-aqua{
    background-color: #1abc9c ;
}
.bg-color-white{
    background-color: #fff;
}
.bg-color-white h2{
    color:#333333;
}


/* SITE HEADER */
/* fake-content */
.main-header .box-fake{
    height: 50px;
}

/* SITE MAIN */
/* Hero Sect. */
.hero .box-fake{
    height: 700px;
}

/* Portfolio Sect. */
section.portfolio{
    padding-bottom: 50px;
}
.portfolio .card{
    padding: 15px 0;
}
/* fake-content */
.portfolio .card .box-fake{
    height: 500px;
}
@media screen and (min-width: 768px)
{
    .portfolio .card .box-fake{
        height: 280px;
    }
}
@media screen and (min-width: 992px)
{
    .portfolio .card .box-fake{
        height: 200px;
    }
}

/* About Sect. */
/* fake-content */
.about .box-fake{
    height: 400px;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px)
{
    .about .box-fake{
        height: 250px;
    }
}
@media screen and (min-width: 992px)
{
    .about .box-fake{
        height: 150px;
    }
}

/* Contact Sect. */
/* fake-content */
.contact .box-fake{
    height: 400px;
}
@media screen and (min-width: 768px)
{
    .contact .box-fake{
        height: 300px;
    }
}
@media screen and (min-width: 992px)
{
    .contact .box-fake{
        height: 200px;
    }
}