/* GENERAL */
body{
    padding-top: 90px;
    font-size: 20px;
    color: #fff;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h1,
h2,
h3,
h4{
    text-transform: uppercase;
}

/* UTILITIES */
/* Layout */
.mb-40{
    margin-bottom: 40px;
}
.pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
/* Text */
.bold{
    font-weight: bold;
}
.text-color-dark{
    color: #2c3e50;
}
.h2-dark h2{
    color:#333333;
}
/* Background Color */
.bg-color-aqua{
    background-color: #1abc9c ;
}
/* Buttons */
.my-btn{
    padding: 10px 18px;
    font-size: 18px;
    color: #fff;
    background-color: #1abc9c;
    border: 1px solid #fff;
    border-radius: 6px;
}
/* Star Divider */
.star-divider{
    display: inline-block;
    width: 210px;
    margin-bottom: 15px;
    font-size: 30px;
}
.star-divider i{
    position: relative;
    top: 8px;
}
.star-divider::before,
.star-divider::after{
    content:'';
    display: inline-block;
    width: 35%;
    border-radius: 20px;
    border: 2px solid currentColor;
}

/* SITE HEADER */
/* Navbar */
.my-navbar{
    font-size: 16px;
    background-color: #2c3e50;
    border: 0;
    padding: 20px 0;
}
.my-navbar .my-brand{
    color: #fff;
}
.my-navbar .navbar-nav>li>a{
    color: #fff;
}

/* SITE MAIN */
/* Hero Sect. */
.hero img{
    max-width: 250px;
}

/* Portfolio Sect. */
section.portfolio{
    padding-bottom: 45px;
}
.portfolio .card{
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.portfolio .card img{
    width: 100%;
    border-radius: 10px;
}

/* About Sect. */
.about .about-text{
    padding: 10px 0;
}

/* Contact Sect. */
.my-form label{
    margin: 0;
    font-weight: normal;
}
.my-form input[type="text"],
.my-form input[type="email"],
.my-form input[type="number"],
.my-form textarea{
    height: 15px;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}
.my-form textarea{
    height: 150px;
}

/* SITE FOOTER */
/* Top Footer */
.main-footer .top-main-footer{
    padding: 50px 20px 30px;
    background-color: #3a546d;
}
.top-main-footer div span{
    color: #1abc9c;
}
.top-main-footer .list-inline a.social{
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #fff;
    line-height: 55px;
    border: 1px solid #fff;
    border-radius: 50%;
}

/* Bottom Footer */
.main-footer .bottom-main-footer{
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 14px;
    background-color: #2c3e50;
}

/* RESPONSIVE */
/* Screen >= 768px */
@media screen and (min-width: 768px){
    /* General */
    h1{
        font-size: 58px;
    }
    h2{
        font-size: 50px;
    }
    h4{
        font-size: 24px;
    }
    /* Section Padding*/
    section.pt-30{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    section.portfolio{
        padding-bottom: 70px;
    }
    /* Star Divider */
    .star-divider{
        width: 400px;
    }
    .star-divider i{
        padding: 0 15px;
    }
    /* Navbar Brand */
    .my-navbar .my-brand{
        font-size: 26px;
    }
    /* Footer List */
    .top-main-footer .mb-40{
        margin-bottom: 20px;
    }
}

/* 992px > Screen >= 768px */
@media screen and (min-width: 768px) and (max-width: 992px)
{
    /* Footer List */
    .top-main-footer .list-inline a.social{
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
}

/* Screen >= 992px */
@media screen and (min-width: 992px){
    /* Star Divider */
    .star-divider{
        width: 480px;
    }
    .star-divider i{
    padding: 0 25px;
    }
}